<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>App 20231019</span>
  <span class="spacer"></span>
  <a target="_blank" href="https://github.com/domekuf/app-20231019" mat-icon-button matTooltip="Visit this project on Github" aria-label="Github icon">
    <mat-icon>source</mat-icon>
  </a>
  <button mat-icon-button matTooltip="Share this page" aria-label="Share icon" [cdkCopyToClipboard]="urlToShare" (click)="onShare()">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="info">
    <mat-icon>info</mat-icon>
    <span>Info</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>